.footer__column-link:link,
.footer__column-link:visited {
  text-decoration: none;
  color: white;
}

.footer__column-link:hover {
  text-decoration: underline;
  color: orangered;
}

.footer__column-link:active {
  text-decoration: underline;
  color: violet;
}
